<%= form_tag("/search", method: "get", remote: true) do %>
	<%= label_tag(:lat, "lat:") %>
  <%= text_field_tag(:lat) %>
  <%= label_tag(:lon, "lon:") %>
  <%= text_field_tag(:lon) %>
  <%= label_tag(:distance, "distance (meters):") %>
  <%= text_field_tag(:distance) %>
  <%= label_tag(:term, "searh term(optional):") %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("Search") %>
<% end %>
<div id='list'>
</div>
